bugsplat==1.0.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.1
Deprecated==1.2.13
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
linecache2==1.0.0
numpy==1.24.2
pandas==1.5.3
pathlib==1.0.1
Pillow==9.4.0
pip==23.0.1
pycipher==0.5.2
pycparser==2.21
pycryptodome==3.17
PyJWT==2.6.0
PyNaCl==1.5.0
PySimpleGUI==4.60.4
python-dateutil==2.8.2
pytz==2022.7.1
random-address==1.1.1
requests==2.28.2
setuptools==67.4.0
six==1.16.0
smmap==5.0.0
tenacity==8.2.1
tk==0.1.0
traceback2==1.4.0
urllib3==1.26.14
wget==3.2
wheel==0.38.4
wrapt==1.14.1
wxPython==4.2.0
log0~=1.0.1
logzero~=1.7.0